

<section class="platform">
    <div class="platform-main">
        <div class="platform-main-header">
            <h2>
                Firmalar
            </h2>
            <div class="btn-group">
                <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-ellipsis-v"></i>
                </button>
                <div class="dropdown-menu shadow dropdown-menu-end">
                    <button class="dropdown-item" type="button">Oturumu Kapat</button>
                    <button class="dropdown-item" type="button">Firma Ekle</button>
                </div>
            </div>
        </div>
        <div class="platform-search">
            <div class="platform-search-inputs">
                <label for="search">
                    <i class="fas fa-search"></i>
                </label>
                <input id="search" type="search" placeholder="Arama...">
                <button id="microphone-btn">
                    <i class="fas fa-microphone"></i>
                </button>

            </div>
            <div class="container-fluid">
                <div class="row platform-search-area">
                    <a href="#" class="col-md-6 platform-search-area-out">
                        <div class="platform-search-area-card">
                            <div class="platform-search-area-card-img">
                                <img src="images/detsaLogo.png" alt="">
                            </div>
                            <span>Detsa</span>
                        </div>
                    </a>
                    <a href="#" class="col-md-6 platform-search-area-out">
                        <div class="platform-search-area-card">
                            <div class="platform-search-area-card-img">
                                <img src="images/astorLogo.png" alt="">
                            </div>
                            <span>Astor</span>
                        </div>
                    </a>
                    <a href="#" class="col-md-6 platform-search-area-out">
                        <div class="platform-search-area-card">
                            <div class="platform-search-area-card-img">
                                <img src="images/abbLogo.png" alt="">
                            </div>
                            <span>Abb</span>
                        </div>
                    </a>

                </div>
            </div>
        </div>

    </div>
</section>
<footer class="footer">
    Ⓒ 1977 - 2024 DETSA TRAFO A.Ş.
</footer>
