
<section class="platform">
    <div class="platform-entry">
        <div class="platform-entry-logo">
            <img src="images/detsaLogo.png" alt="">
        </div>
        <div class="platform-entry-header">
            Hesap Oluştur
            <i class="fas fa-sign-in-alt"></i>
        </div>
        <div class="platform-entry-inputs">
            <label for="e-mail-register" class="email-register-label">E-Posta</label>
            <input id="e-mail-register" type="email" placeholder="info@example.com">
            <label for="password-register" class="password-register-label">Şifre</label>
            <input id="password-register" type="password" placeholder="*****">
            <button>
                Kayıt Ol
            </button>
        </div>
    </div>

    <div class="platform-entry">
        <div class="platform-entry-logo">
            <img src="images/detsaLogo.png" alt="">
        </div>
        <div class="platform-entry-header">
            Giriş Yap
            <i class="fas fa-sign-in-alt"></i>
        </div>
        <div class="platform-entry-inputs">
            <label for="e-mail-register" class="email-register-label">E-Posta</label>
            <input id="e-mail-register" type="email" placeholder="info@example.com">
            <label for="password-register" class="password-register-label">Şifre</label>
            <input id="password-register" type="password" placeholder="*****">
            <button>
                Giriş Yap
            </button>
        </div>
    </div>
</section>
<footer class="footer">
    Ⓒ 1977 - 2024 DETSA TRAFO A.Ş.
</footer>
